<div class="container">
    <div>
        <div class="page-header">
           <h1> Բարի գալուստ visual-minimal! </h1>
        </div>
        Այստեղ
        կարողես մինիմալացնել տրամաբանական ֆունկցիաներ օգտվելով
    </div>
    <br>
    <div class="list-group">
        <a href="#/indeterminate" class="list-group-item">Անորոշ գործակիցների մեթոդ</a>
        <a href="#/matrix" class="list-group-item">Իմպլիկատային մատրիցների մեթոդ</a>
        <a href="#/cluskey" class="list-group-item">Կվայն-Մակ Կլասկու մեթոդ</a>
    </div>
    <div>
        Հեղինակային իրավունքները՝ &copy; <a href="https://facebook.com/slavik.manukyan">Սլավիկ Մանուկյան</a>
    </div>

</div>